<template>
  <v-app>
    <NavigationBar />
    <Container />
  </v-app>
</template>

<script>
import NavigationBar from "../components/NavigationBar.vue";
import Container from "../components/Container.vue";

export default {
  name: "App",

  components: {
    NavigationBar,
    Container,
  },
};
</script>
