<template>
  <v-app>
    <NavigationBar />
    <Upload />
  </v-app>
</template>

<script>
import NavigationBar from "../components/NavigationBar.vue";
import Upload from "../components/Upload.vue";

export default {
  name: "App",

  components: {
    NavigationBar,
    Upload,
  },
};
</script>
