<template>
  <div class="container is-fluid">
    <div class="notification is-primary">
      <Test />
    </div>
  </div>
</template>

<script>
import Test from "./Test.vue";

export default {
  name: "App",

  components: {
    Test,
  },
};
</script>
