<template>
  <div>
    <ul id="v-for-value" class="demo">
      {{
        info
      }}
      <li v-for="value in videos" v-bind:key="value">
        <video :id="value" controls></video>
      </li>
    </ul>
  </div>
</template>

<script>
import * as dashjs from "dashjs";
import axios from "axios";
export default {
  data() {
    return {
      videos: null,
    };
  },

  mounted() {
    axios
      .get("https://j9t5l5hg89.execute-api.eu-west-2.amazonaws.com/prod/upload")
      .then((response) => {
        response.data.mpdFiles.forEach((video) => {
          var url = `https://d3udkvjbo36mok.cloudfront.net/${video}`;
          console.log(url);
          var player = dashjs.MediaPlayer().create();
          player.initialize(
            document.querySelector(`#${CSS.escape(video)}`),
            url,
            true
          );
        });

        this.videos = response.data.mpdFiles;
      });
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
video {
  width: 640px;
  height: 360px;
}
</style>
