<template>
  <div class="container">
    <div class="large-12 medium-12 small-12 cell">
      <label
        >File
        <input
          type="file"
          id="file"
          ref="file"
          v-on:change="handleFileUpload()"
        />
      </label>
      <button v-on:click="getPreSignedUrl()">Submit</button>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      file: "",
    };
  },

  methods: {
    handleFileUpload() {
      this.file = this.$refs.file.files[0];
    },

    submitFile(url) {
      var myHeaders = new Headers();
      myHeaders.append("Content-Type", "video/mp4");

      var file = this.file;

      var requestOptions = {
        method: "PUT",
        headers: myHeaders,
        body: file,
        redirect: "follow",
      };

      fetch(url, requestOptions)
        .then(function () {
          console.log("SUCCESS!!");
        })
        .catch((e) => {
          console.log("FAILURE!!");
          console.log(e);
        });
    },

    getPreSignedUrl() {
      axios
        .get(
          "https://0cat437wuf.execute-api.eu-west-2.amazonaws.com/prod/upload"
        )
        .then((response) => {
          console.log(response.data.uploadURL);
          this.submitFile(response.data.uploadURL);
        })
        .catch(function () {
          console.log("FAILURE!!");
        });
    },
  },
};
</script>
